.test{
    background-image: url(../images/alexander-tsang-M50PD5wP_xA-unsplash.jpg);
    background-size: cover;
}




.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}




.content-center {
    display: flex;
    align-items: center;
  }